In [17]:
import sqlite3
import csv
import pandas as pd

In [18]:
# connect to the database
conn = sqlite3.connect('./dialects_database.db')

In [19]:
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [20]:
# Execute a query to select table names from the sqlite_master table
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

# Fetch all table names
tables = cursor.fetchall()

In [21]:
# Table names
print(tables)

[('id_text',), ('id_dialect',)]

In [22]:
#Retrieving data
cursor.execute('''SELECT * from id_text''')

#Fetching 1st row from texttable
text = cursor.fetchone()
print(text)

#Retrieving data
cursor.execute('''SELECT * from id_dialect''')

#Fetching 1st row from dialect table
dialect = cursor.fetchone()
print(dialect)

(1009754958479151232, '@toha_Altomy @gy_yah قليلين ادب ومنافقين. لو اختهم او قريبتهم تتعاكس تقولي عليهم من نشاط حقوق المرأة من ردة فعلهم.')
(1009754958479151232, 'LY')

- We have two tables: 'id_text' and 'id_dialect', both sharing the same ID column.
- We will use inner join to combine text samples from 'id_text' table with the corresponding dialect labels from 'id_dialect' based on shared IDs.

In [23]:
# Performing inner join to join the tables using ID
cursor.execute('''
    SELECT id_text.text, id_dialect.dialect
    FROM id_text
    INNER JOIN id_dialect ON id_text.id = id_dialect.id''')

# Fetch all rows of the result set
data = cursor.fetchall()

# Specify the path to the CSV file
csv_file_path = 'arabic_dialect.csv'

# Write the fetched data to a CSV file
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file:
    csv_writer = csv.writer(csv_file)
    csv_writer.writerow(['Text', 'Dialect'])  # Write header
    csv_writer.writerows(data)

# Close the cursor and connection when done
cursor.close()
conn.close()

In [25]:
df = pd.read_csv('arabic_dialect.csv')

# Display a sample of the DataFrame
print("Sample of CSV data:")
print(df.head())

Sample of CSV data:
                                                Text Dialect
0  @toha_Altomy @gy_yah قليلين ادب ومنافقين. لو ا...      LY
1  @AlmFaisal 😂😂 الليبيين متقلبين!!!\nبس بالنسبة ...      LY
2  @smsm071990 @ALMOGRBE كل 20 تانيه شاب ليبي بير...      LY
3  @AboryPro @lyranoo85 رانيا عقليتك متخلفة. اولا...      LY
4  @lyranoo85 شكلك متعقدة علشان الراجل لي تحبيه ا...      LY

In [26]:
df

                                                     Text Dialect
0       @toha_Altomy @gy_yah قليلين ادب ومنافقين. لو ا...      LY
1       @AlmFaisal 😂😂 الليبيين متقلبين!!!\nبس بالنسبة ...      LY
2       @smsm071990 @ALMOGRBE كل 20 تانيه شاب ليبي بير...      LY
3       @AboryPro @lyranoo85 رانيا عقليتك متخلفة. اولا...      LY
4       @lyranoo85 شكلك متعقدة علشان الراجل لي تحبيه ا...      LY
...                                                   ...     ...
147720  الناس دي بتنفخ في قربة مقدودة بالدارجي كده  ال...      SD
147721  @Wail_Hamza @amiromer انت عايش وين بره السودان...      SD
147722  مااحرم نفسي ميسي حريف ولعاب برضو ..\nمدريدي وا...      SD
147723  ياخي ديل ماخلو  للشيطان وإبليس شي لكن يروحو وي...      SD
147724     @abdomaged127 النبي فيك صدمتني ياخي عاوز تعويض      SD

[147725 rows x 2 columns]